@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Noto+Sans:ital,wght@0,200;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    font-weight: bolder;
    background-color: whitesmoke;
    letter-spacing: 1px;
    display: flex;
    text-align: center;
}

.color-nav{
    background-color: rgb(26, 26, 168);
}

.colorenlace{
    color: white;
}

.viejo-gasometro{
    width: 100%;
}

.viejo-gasometro h1{
    background-color: rgb(190, 37, 37);
    padding: 0.6em;
    font-weight: bolder;
    font-size: 1.5em;
}

.foto-gasometro{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.viejo-gasometro p{
    font-family:'Noto Sans', sans-serif;
}

.nuevo-gasometro h2{
    font-size: 1.5em;
    background-color: rgb(190, 37, 37);
    font-weight: bolder;
    padding: 0.6em;
}

.nuevo-gasometro img{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.nuevo-gasometro p{
    margin-top: 0.6em;
    font-family: 'Noto Sans', sans-serif;
}

.proyecto h3{
    font-weight: bolder;
    font-size: 1.5em;
    background-color: rgb(190, 37, 37);
    padding: 0.6em;
}

.proyecto img{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.proyecto p{
    margin-top: 0.6em;
    font-family: 'Noto Sans', sans-serif;
}

.escudo img{
    margin-top: 0.6em;
    padding: 0.6em;
    height: 50%;
    width: 50%;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(34, 33, 33);
    margin-top: 10px;
}

@media (min-width: 480px){

.foto-gasometro{
    margin-top: 1em;
}

.viejo-gasometro p{
    margin-top: -1.5em;
}

.nuevo-gasometro img{
    margin-top: 1em;
}

.nuevo-gasometro p{
    margin-top: -1.5em;
}

.proyecto img{
    margin-top: 1em;
}

.proyecto p{
    margin-top: -3em;
}

.escudo{
    border-top: 20px solid rgb(34, 33, 33);
}

}

@media (min-width: 768px){

.viejo-gasometro p{
    margin-top: 0em;
}

.nuevo-gasometro img{
    margin-top: 10em;
    height: 60%;
}

.nuevo-gasometro p{
    margin-top: 0em;
}

.proyecto p{
    margin-top: 0em;
}

.proyecto img{
    margin-top: 5em;
}
}

@media (min-width: 1024px){

.navbar-brand:hover{
    color: rgb(196, 192, 192) !important;
}

.nav-link:hover{
    color: rgb(196, 192, 192) !important;
}

.foto-gasometro{
    margin-top: 2em;
}

.nuevo-gasometro p{
    margin-top: 0em;
}

.nuevo-gasometro img{
    margin-top: 10em;
    height: 60%;
}

.proyecto img{
    height: 60%;
    margin-top: 10em;
}

.proyecto p{
    margin-top: 0em;
}

}

@media (min-width: 1200px){

.viejo-gasometro p{
    margin-top: 5em;
}

.nuevo-gasometro img{
    margin-top: 6em;
}

.nuevo-gasometro p{
    padding: 3em;
}

.proyecto p{
    padding: 1em;
    margin-top: 10em;
}

.proyecto img{
    margin-top: 5em;
}

}