@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Noto+Sans:ital,wght@0,200;1,400&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    font-weight: bolder;
    background-color: whitesmoke;
    letter-spacing: 1px;
    display: flex;
    text-align: center;
}

.color-nav{
    background-color: rgb(24, 24, 143);
}

.nav-link{
    font-size: 1em;
}

.navbar-brand{
    font-size: 1em;
}

.viejo-gasometro{
    width: 100%;
}

.viejo-gasometro h1{
    background-color: rgb(165, 27, 27);
    padding: 0.6em;
    font-weight: bolder;
    font-size: 1.5em;
    border: 2px solid black;
}

.foto-gasometro{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.viejo-gasometro p{
    font-family:'Noto Sans', sans-serif;
}

.nuevo-gasometro h2{
    font-size: 1.5em;
    background-color: rgb(165, 27, 27) ;
    font-weight: bolder;
    padding: 0.6em;
    border: 2px solid black;
}

.nuevo-gasometro img{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.nuevo-gasometro p{
    margin-top: 0.6em;
    font-family: 'Noto Sans', sans-serif;
}

.proyecto h3{
    font-weight: bolder;
    font-size: 1.5em;
    background-color: rgb(165, 27, 27);
    padding: 0.6em;
    border: 2px solid black;
}

.proyecto img{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.proyecto p{
    margin-top: 0.6em;
    font-family: 'Noto Sans', sans-serif;
}

.escudo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,8,8,1) 50%, rgba(2,0,36,1) 100%);
}

.escudo img{
    margin-top: 0.6em;
    padding: 0.6em;
    height: 50%;
    width: 50%;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(34, 33, 33);
}

@media (min-width: 480px){

.foto-gasometro{
    margin-top: 1em;
}

.viejo-gasometro p{
    margin-top: -1.5em;
}

.nuevo-gasometro img{
    margin-top: 1em;
}

.nuevo-gasometro p{
    margin-top: -1.5em;
}

.proyecto img{
    margin-top: 1em;
}

.proyecto p{
    margin-top: -3em;
}

.escudo{
    border-top: 20px solid rgb(34, 33, 33);
    border-bottom: 20px solid rgb(34, 33, 33);
}

}

@media (min-width: 768px){    

.viejo-gasometro p{
    margin-top: 0em;
}

.nuevo-gasometro img{
    margin-top: 10em;
    height: 60%;
}

.nuevo-gasometro p{
    margin-top: 0em;
}

.proyecto p{
    margin-top: 0em;
}

.proyecto img{
    margin-top: 5em;
}
}

@media (min-width: 1024px){

.navbar-brand:hover{
    color: rgb(196, 192, 192) !important;
}

.nav-link:hover{
    color: rgb(196, 192, 192) !important;
}

.foto-gasometro{
    margin-top: 2em;
}

.nuevo-gasometro p{
    margin-top: 0em;
}

.nuevo-gasometro img{
    margin-top: 10em;
    height: 60%;
}

.proyecto img{
    height: 60%;
    margin-top: 10em;
}

.proyecto p{
    margin-top: 0em;
}

}

@media (min-width: 1200px){

.viejo-gasometro p{
    margin-top: 5em;
}

.nuevo-gasometro img{
    margin-top: 6em;
}

.nuevo-gasometro p{
    padding: 3em;
}

.proyecto p{
    padding: 1em;
    margin-top: 10em;
}

.proyecto img{
    margin-top: 5em;
}

.escudo img{
    height: 50%;
    width: 50%;
}

}

.noticias h1{
    font-size: 1.5em;
    background-color: rgb(165, 27, 27) ;
    font-weight: bolder;
    padding: 0.6em;
    border: 2px solid black;
}

.noticias h2{
    font-size: 1.5em;
    padding: 0.6em;
    font-weight: bolder
}

.noticias img{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.noticias p{
    font-family: 'Noto Sans', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}


.amistosos img{
    height: 80%;
    width: 90%;
    border: 5px solid black;
}

.amistosos h3{
    padding: 0.6em;
    font-weight: bolder;
    font-size: 1.5em;
}

.amistosos p{
    font-family: 'Noto Sans', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

.escudo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,8,8,1) 50%, rgba(2,0,36,1) 100%);
}

.escudo img{
    margin-top: 0.6em;
    padding: 0.6em;
    height: 50%;
    width: 50%;
}

header{
    grid-area: header;
}

.navbar{
    grid-area: nav;
}

.noticias{
    grid-area: noticias;
}

.amistosos{
    grid-area: amistosos;
}

.escudo{
    grid-area: escudo;
}

footer{
    grid-area: footer;
}

@media (min-width: 480px){
    .grilla-general{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header    header"
        "nav       nav"
        "noticias  noticias"
        "amistosos amistosos"
        "escudo    escudo"
        "footer    footer";
    }

.noticias img{
    height: 50%;
    margin-top: 1em;
}

.amistosos img{
    height: 50%;
}

.amistosos{
    margin-top: 14em;
    padding: 1em;
}

.escudo img{
    margin-top: 6em;
    height: 70%;
}
}

@media (min-width: 768px){
    .grilla-general{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header    header    header"
        "nav       nav       nav"
        "noticias  noticias  noticias"
        "amistosos amistosos amistosos"
        "escudo    escudo    escudo"
        "footer    footer    footer";
    }


.noticias p{
    padding: 3em;
}

.amistosos{
    border-top: 3em solid rgb(34, 33, 33);
    padding: 3em;
}

.amistosos h3{
    padding: 1em;
}

.amistosos p{
    padding: 1em;
}

.escudo{
    border-bottom: 0px;
}
}

@media (min-width: 1024px){
    .grilla-general{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "header    header    header"
        "nav       nav       nav"
        "noticias  noticias  noticias"
        "amistosos amistosos amistosos"
        "escudo    escudo    escudo"
        "footer    footer    footer";
    }

.noticias img{
    width: 60%;
}

.amistosos img{
    width: 60%;
    height: 70%;
}
}

.plantel-profesional h1{
    font-size: 1.5em;
    background-color: rgb(165, 27, 27) ;
    font-weight: bolder;
    padding: 0.6em;
    border: 2px solid black;
}

.fotos-plantel h2{
    font-size: 2em;
    padding: 1.5em;
    font-weight: bolder;
    color: red;
}

.fotos-plantel h3{
    font-size: 2em;
    padding: 1.5em;
    font-weight: bolder;
    color: red;
}

.fotos-plantel h4{
    font-size: 2em;
    padding: 1.5em;
    font-weight: bolder;
    color: red;
}
.fotos-plantel h5{
    font-size: 2em;
    padding: 1.5em;
    font-weight: bolder;
    color: red;
}

.fotos-plantel h6{
    font-size: 2em;
    padding: 1.5em;
    font-weight: bolder;
    color: red;
}

.fotos-plantel img{
    height: 20%;
    width: 15%;
    padding: 1em;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(34, 33, 33);
}