@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&family=Noto+Sans:ital,wght@0,200;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(21, 21, 104);
}

nav ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 10px;
    height: 120px;
    width: 480px;
}

nav ul li{
    padding: 3px;
}

a{
    text-decoration: none;
    color: rgb(255, 239, 239);
    letter-spacing: 2px;
    text-transform: uppercase;
}

a:hover{
    color: rgb(160, 160, 160);
}

.foto-martegani{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    margin: 15px;
}

.noticias{
    background-color: white;
    height: 1200px;
}

.destacadas{
    margin-top: 0%;
    padding: 20px;
    background-color: red;
    text-transform: uppercase;
}

.martegani{
    margin-top: 20px;
    padding: 10px;
    font-size: 2em;
}

p{
    height: 300px;
    width: 450px; 
    font-family: 'Noto Sans', sans-serif;
}

.ofertas{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1px;
}

.pasado{
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1px;
}

.amistosos{
    background-color: white;
    height: 700px;
}

.jugador{
    height: 400px;
    width: 400px;
    margin-top: 20px;
    border: 5px solid black;
}

h3{
    margin: 20px;
    font-size: 2em;
}

.partidos{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 1px;
    height: 170px;
}

.redes{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav{
    grid-area: nav;
}

.noticias{
    grid-area: noticias;
}

.amistosos{
    grid-area: amistosos;
}

.redes{
    grid-area: redes;
}

.grilla-general{
    display: grid;
    grid-template-areas: 
    "nav"
    "noticias"
    "amistosos"
    "redes";
}

@media (min-width: 480px){
    .grilla-general{
        margin: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav       nav"
        "noticias  noticias"
        "amistosos amistosos"
        "redes     redes";
    }

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 768px;
}

.foto-martegani{
    height: 450px;
    width: 600px;
}

.martegani{
    margin-top: 0px;
}

.ofertas{
    margin-left: 30px;
}

.pasado{
    margin-top: -57px;
    margin-left: 20px;
}

.martegani, .ofertas, .pasado{
    width: 90%;
}

.amistosos{
    margin-top: -130px;
}

.jugador{
    height: 450px;
    width: 600px;
}

.partidos{
    width: 90%;
    margin-left: 40px;
}

}

@media (min-width: 768px){
    .grilla-general{
        margin: 0px;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas:
        "nav nav"
        "noticias noticias"
        "amistosos amistosos"
        "redes redes";
    }

nav ul{
    width: 1024px;
}

.martegani{
    margin-left: 40px;
}

}

@media (min-width: 1024px){

    .grilla-general{
        margin: 0px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav nav"
        "noticias noticias"
        "amistosos amistosos"
        "redes redes";
    }

nav ul{
    margin-left: 400px;
}

.martegani{
    margin-left: 70px;
}

.ofertas{
    margin-top: 40px;
}

.pasado{
    height: 100%;
    margin-top: -165px;
}

.amistosos{
    margin-top: -275px;
}

.partidos{
    margin-top: 40px;
}

}

.viejo-gasometro{
    background-color: white;
    margin-bottom: -200px;
}

.gasometro{
    background-color: red;
    padding: 10px;
}

.foto-gasometro{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nuevo-gasometro{
    background-color: white;
    margin-bottom: -200px;
}

.estadio{
    background-color: red;
    padding: 15px;
    height: 35px;
    font-size: 1.5em;
    margin-bottom: 25px;
    margin-top: 5px;
}

.foto-nuevo{
    width: 400px;
    height: 400px;
    border: 5px solid black;
}

.titulo{
    margin-bottom: 20px;
}

.capacidad{
    margin-top: 15px;
}

.proyecto{
    background-color: white;
    margin-bottom: -165px;
}

.futuro{
    background-color: red;
    margin: 0px;
    padding: 15px;
    font-size: 1.5em;
}

.foto-proyecto{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    margin-top: 25px;
}

.escudo{
    background-color: white;
    margin-bottom: 10px;
}

.escudo img{
    height: 150px;
    width: 150px;
    margin-bottom: 40px;
}

nav{
    grid-area: nav;
}

.viejo-gasometro{
    grid-area: viejo;
}

.nuevo-gasometro{
    grid-area: nuevo;
}

.proyecto{
    grid-area: proyecto;
}

.escudo{
    grid-area: escudo;
}

.redes{
    grid-area: redes;
}

.contenedor{
    display: grid;
    grid-template-areas: 
    "nav"
    "viejo"
    "nuevo"
    "proyecto"
    "escudo"
    "redes";
}

@media (min-width: 480px){
    .contenedor{
        width: 768px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "nav      nav"
        "viejo    viejo"
        "nuevo    nuevo"
        "proyecto proyecto"
        "escudo   escudo"
        "redes    redes";
    }

.viejo-gasometro p{
    width: 768px;
    margin-left: 25px;
}

.capacidad{
    width: 768px;
    margin-left: 25px;
}
}


@media (min-width: 768px){
    .contenedor{
        width: 1024px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav      nav"
        "viejo    viejo"
        "nuevo    nuevo"
        "proyecto proyecto"
        "escudo   escudo"
        "redes    redes";
    }

nav ul, .viejo-gasometro, .nuevo-gasometro, .proyecto, .escudo, .redes{
    width: 1024px;
}

.foto-gasometro, .foto-nuevo, .foto-proyecto{
    width: 600px;
}

.viejo-gasometro p, .capacidad{
    width: 1024px;
    margin-left: 10px;
}

.escudo{
    width: 1024px;
    margin-left: 0px;
}
}

@media (min-width: 1024px){
    .contenedor{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "nav nav"
        "viejo viejo"
        "nuevo nuevo"
        "proyecto proyecto"
        "escudo escudo"
        "redes redes";
    }

header nav ul, .viejo-gasometro, .nuevo-gasometro, .proyecto, .escudo, .redes{
    width: 100%;
}

nav ul{
    margin-left: 440px;
}

.foto-gasometro, .foto-nuevo, .foto-proyecto{
    width: 60%;
}

.viejo-gasometro p, .capacidad{
    margin-left: 22%;
    font-size: 1.3em;
}

}